[submodule "datatagger-mcp"]
	path = datatagger-mcp
	url = https://github.com/tum-research-data-hub/datatagger-mcp.git
[submodule "elabR"]
	path = elabR
	url = https://github.com/MarvinLuepke/elabR.git
[submodule "nomad-mcp"]
	path = nomad-mcp
	url = https://github.com/e-conversion/nomad-oasis-mcp.git
